<aside class="aside-opt">
  <div class="pfp-container">
    <div class="d-flex mx-4 justify-content-center pt-4">
      <a href="">
        <i class="fas fa-plus-circle lightblue my-auto pfp-icons"></i>
      </a>
      <img src="/assets/images/blank-pfp.png" alt="" class="pfp text-center">
      <a href="">
        <i class="fas fa-bars lightblue my-auto ms-2 pfp-icons"></i>
      </a>
    </div>
    <div class="text-center dark-gray fw-bold mb-1">User name</div>
    <div class="text-center gray mb-4">@Username</div>
    <div class="d-flex gray border-top justify-content-evenly">
      <div class="text-center">
        <p class="my-2">1431</p>
        <p class="my-2">Tweets</p>
      </div>
      <div class="text-center px-3 border-start border-end">
        <p class="my-2">3213</p>
        <p class="my-2">Followers</p>
      </div>
      <div class="text-center">
        <p class="my-2">5987</p>
        <p class="my-2">Following</p>
      </div>
    </div>
  </div>
  <div class="f-by">FOLLOWED BY
  </div>
  <ul class="gray text-center">
    <li>
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <span><img src="/assets/images/blank-pfp.png" alt="" class="f-pfp me-2"></span>
          <span>
            <p class="my-1 fw-bold text-start dark-gray">Username</p>
            <p class="my-1">@Username</p>
          </span>
        </div>
        <i class="fas fa-plus-circle f-icons"></i>
      </div>
    </li>
  </ul>
</aside>