    <header class="nav top-nav d-flex justify-content-between">
      <i class="fa fa-twitter tw-icon my-auto ms-5"></i>
      <ul class="nav">
        <li class="my-auto"><a href="#" class="blue"><i class="fa fa-pen header-icon m-3"></i></a></li>
        <li class="my-auto"><a href="#" class="blue"><i class="fa fa-envelope header-icon m-3"></i></a></li>
        <li class="my-auto"><a href="#" class="blue"><i class="fa fa-search header-icon m-3"></i></a></li>
        <li class="my-auto"><a href="#" class="blue"><i class="fa fa-cog header-icon m-3"></i></a></li>
      </ul>
    </header>