<nav class="nav side-nav">
    <div class="border-bottom py-4 px-2">
      <div class="d-flex py-5 px-2">
        <div><img src="" alt=""></div>
        <span>
          <% current_user.username %>
        </span>
        <span>Number of Tweets</span>
      </div>
      <div class="display-flex">
        <span>FOLLOWERS</span>
        <span>FOLLOWING</span>
      </div>
    </div>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item active opts" aria-current="page" href="#"><a href="<% link_to homepage_index_path %>" class="blue"><i class="nav-icons fas fa-home me-3"></i>HOME</a></li>
      <li class="nav-item opts"><a href="#" class="blue"><i class="nav-icons fas fa-at me-3"></i>CONNECT</a></li>
      <li class="nav-item opts"><a href="#" class="blue"><i class="nav-icons fas fa-hashtag me-3"></i>DISCOVER</li></a>
      <li class="nav-item opts"><%= link_to root_path, class:"blue" do %> <i class="nav-icons fas fa-user-circle me-3"></i>PROFILE<%end%></li>
      <li class="nav-item opts"><a href="#" class="blue"><i class="nav-icons fas fa-chart-pie me-3"></i>STATISTICS</a></li>
      <li class="nav-item opts"><%= link_to session_path(current_user), method: :delete, class:"blue" do %> <i class="nav-icons fas fa-user-circle me-3"></i>LOG OUT<%end%></li>
    </ul>
</nav>