<nav class="nav side-nav">
  <div>
    <div class="d-flex my-5 px-2">
      <div><img src="../assets/images/blank-pfp.png" alt="" class="w-100 h-100"></div>
      <span>
        
      </span>
      <span>Number of Tweets</span>
    </div>
    <div class="d-flex py-3 justify-content-evenly f-borders">
      <div><div class="text-center">1111</div><div>FOLLOWERS</div></div>
      <div><div class="text-center">2222</div><div>FOLLOWING</div></div>
    </div>
  </div>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item active opts" aria-current="page" href="#"><%= link_to root_path, class: "blue" do %><i class="nav-icons fas fa-home me-3"></i>HOME<%end%></a></li>
    <li class="nav-item opts"><a href="#" class="blue"><i class="nav-icons fas fa-at me-3"></i>CONNECT</a></li>
    <li class="nav-item opts"><a href="#" class="blue"><i class="nav-icons fas fa-hashtag me-3"></i>DISCOVER</li></a>
    <li class="nav-item opts"><%= link_to profiles_path, class: "blue" do %><i class="nav-icons fas fa-user-circle me-3"></i>PROFILE<% end %></li>
    <li class="nav-item opts"><a href="#" class="blue"><i class="nav-icons fas fa-chart-pie me-3"></i>STATISTICS</a></li>
    <li class="nav-item opts"><%= link_to logout_path(:user_id), method: :delete, class: "blue" do %><i class="nav-icons fas fa-user-circle me-3"></i>LOG OUT<%end%></li>
  </ul>
</nav>