$dark-blue: #1b2a3d !important;
$blue: #677d92 !important;
$light-blue: #51a2e1 !important;

$dark-gray: #596674 !important;
$gray: #b5b6b8 !important;
$light-gray: #f5f6f8 !important;

$colors: $dark-blue, $blue, $light-blue, $dark-gray, $gray, $light-gray;

$open-sans: 'Open Sans', sans-serif;
